body {
    margin: 0;
    padding: 0;
    font-family: Cambria, serif;
    font-size: 24px;
}

.root {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.container {
    margin: 0 20px;
    padding: 20px;
    background-color: beige;
    border: black 1px solid;
    border-radius: 5px ;
}

.book-list-section {
    width: 30%;
}

.heading {
    margin: 5px;
    text-align: center;
}

.book-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    padding: 0;
    list-style: none;
}

.book-list__title {
    flex-grow: 1;
    width: 50%;
    padding: 10px 0;
}

.book-list__title:hover {
    background-color: rgba(0, 0, 200, 0.3);
    border-radius: 5px;
    cursor: pointer;
}

.dynamic-section {
    width: 60%;
}

.book-preview {
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.book-preview.visible {
    display: none;
}

.book__img {
    width: 50%;
    object-fit: cover;
}

.btn {
    display: block;
    margin-left: 5px;
    padding: 10px;
    font-size: 15px;
    text-align: center;
    background-color: rgba(0, 0, 300, 0.5);
    border: gray solid 1px;
    border-radius: 5px;
    cursor: pointer;
}

.btn:hover {
    background-color: rgba(0, 0, 300, 0.6);
    color: #ffff;
    font-weight: bold;
}

.btn-edit {
    width: 15%;
    padding: 10px;
}

.btn-add {
    width: 50%;
    margin: 10px auto;
}